body {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    background-image: url(https://c4arena.com/assets/background.png);
    color: #08a;
    font-family: open sans,sans-serif;
    margin: 0;
}

.reverse {
    display: inline-block;
    left: 0;
    position: relative;
    transition: left .2s;
    padding: 10px;
}

.container {
    height: 392px;
    position: relative;
}

.column-container {
    display: flex;
    height: 300px;
    width: 400px;
    background-color: #09C;
    margin: 150px auto 0;
    padding: 0 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.column {
    height: 300px;
    width: calc(100% / 7);
    background-color: #08a;
}

.cell {
    background-color: white;
    border-radius: 50%;
    margin: 7px auto;
    height: 35px;
    width: 35px;
}

.base {
    background-color: #05a;
    height: 5px;
    margin: auto;
    padding: 20px;
    width: 400px;
}

.base2 {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 10px;
    margin: auto;
    padding: 20px;
    width: 400px;
}

.player-field-you{
    width: 40px;
    height: 40px;
    background-image: url(https://c4arena.com/assets/disc-0.svg);;
}

.text-field-you{
    width: 90px;
    text-align: left;
}

.player-field-go{
    width: 40px;
}

.text-field-go{
    width: 90px;
    text-align: left;
}

.player-field-opponent{
    width: 40px;
    height: 40px;
    background-image: url(https://c4arena.com/assets/disc-1.svg);
}

.text-field-opponent{
    width: 90px;
    text-align: left;
}
