body{
    height: 100vh;
    width: 100vw;
}
.container {
    height: 392px;
    position: relative;
}
.column-container {
    display: flex;
    height: 300px;
    width: 400px;
    background-color: #09C;
    margin: 250px auto 0px;
    padding: 0px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.column {
    height: 300px;
    width: calc(100% / 7);
    background-color: #08a;
}
.cell {
    background-color: white;
    border-radius: 50%;
    margin: 7px auto;
    height: 35px;
    width: 35px;
}
.base {
    background-color: #05a;
    height: 30px;
    margin: auto;
    padding: 0px 20px;
    width: 400px;
}
.base {
    background-color: #05a;
    height: 30px;
    margin: auto;
    padding: 0px 20px;
    width: 400px;
}
body {
    background-color: #fff;
    background-image: url();
    color: #08a;
    font-family: open sans,sans-serif;
    margin: 0;
}
.reverse {
    left: 7px;
}
.reverse {
    display: inline-block;
    left: 0;
    position: relative;
    -webkit-transition: left .2s;
    transition: left .2s;
}
div {
    display: block;
}
